* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* For debugging */
/* body * {
  border: black 0.5px solid;
} */

header {
  padding: 20px;
  background: #34495e;
  color: #fff;
  padding: 0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #2c3e50;
}

.logo {
  font-size: 140%;
  font-weight: bold;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu-list a {
  font-style: normal;
  text-decoration: none;
  color: #fff;
}

.menu-list a:hover {
  color: #c0c0c0;
}

.banner {
  display: flex;
  padding: 80px 60px;
  justify-content: space-around;
}

.banner-info {
  width: 45%;
}

.banner-info h2 {
  margin-bottom: 0.5em;
  font-size: 3.6em;
}

.banner-info p {
  margin-bottom: 0.9em;
}

a.button {
  display: block;
  margin: 15px 0;
  width: fit-content;
  background-color: #3498db;
  font-size: 105%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

a:hover.button {
  background-color: #2980b9;
}

.image-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
}

.image-grid {
  text-align: center;
  padding: 60px;
}

.image-grid-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 70px;
  gap: 30px;
}

.image-list {
  width: 200px;
}

.image-canvas {
  border-radius: 20px;
  border: #2980b9 solid 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-canvas img {
  height: 250px;
  margin: -20px -100px;
}

.image-list span {
  display: block;
  margin-top: 10px;
}

.quote {
  background-color: #ecf0f1;
  padding: 60px;
}

.quote .quote-canvas {
  margin: 0 auto;
  width: 75%;
}

.quote-canvas .quote-message {
  text-align: justify;
  font-size: 150%;
  font-style: italic;
}

.quote-canvas .quote-by {
  font-size: 110%;
  margin-top: 15px;
  text-align: right;
  font-weight: bold;
}

.call-to-action {
  padding: 60px;
}

.call-to-action .call-canvas {
  background-color: #3498db;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  padding: 50px;
  margin: 0 auto;
  color: #fff;
}

.call-canvas .call h3 {
  margin-bottom: 0.5em;
}

.call-canvas .sign-up-button a {
  color: #fff;
  text-decoration: none;
  border: #fff 3px solid;
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: bold;
}

.call-canvas .sign-up-button a:hover {
  background-color: #2980b9;
}